{% extends 'main.html' %}
{% block content %}
<div class="hero-section mb-4 rounded-3">
    {% if videos.first %}
    <video playsinline autoplay muted loop class="hero-video">
        <source src="{{ videos.first.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% endif %}
    <div class="hero-overlay">
        <div class="p-5">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome to the E-Learning Platform</h1>
                <p class="col-md-8 fs-4">Your journey to knowledge starts here.</p>
                {% if not user.is_authenticated %}
                    <a href="{% url 'register' %}" class="btn btn-primary btn-lg" type="button">Get Started</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}